
<div *ngIf="currentPage$ | async as page">
  
    <div [ngSwitch]="page">
    
      <div *ngSwitchCase="'home'">
        <app-mains></app-mains>
      </div>
      <div *ngSwitchCase="'about'">
        <app-about></app-about>
      </div>
      <div *ngSwitchCase="'courses'">
        <app-cources></app-cources>
      </div>
      <div *ngSwitchCase="'trainers'">
        <app-trainers></app-trainers>
      </div>
      <div *ngSwitchCase="'events'">
        <app-events></app-events>
      </div>
      <div *ngSwitchCase="'pricing'">
        <app-pricing></app-pricing>
      </div>
      <div *ngSwitchCase="'contactus'">
        <app-contactus></app-contactus>
      </div>
      <ng-container *ngSwitchCase="'contact'">This is Contact Page</ng-container>
      <!-- <div *ngSwitchDefault>Unknown Page</div> -->
    </div>

</div>